body {
    background-color: rgb(254, 255, 248);
}

navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
}
navbar svg:hover {
    cursor: pointer;
    opacity: 70%;
    transition-duration: 200ms;
}
#navbar-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#herovideo {
    width: auto;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
#herodimmer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}